.introduction {
    @include flex($direction: row-reverse, $align: center);
    max-width: 971px;
    margin: 130px 0;
    padding: 0 40px;

    .logo-container {
        flex: 0 1 317px;

        img {
            width: 100%;
        }
    }

    .info {
        flex: 0 1 470px;
        margin-right: 100px;
        @include flex($direction: column);

        h1 {
            @include highlighted-title(48px, 600);
            margin-bottom: 7px;
        }

        h2 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 24px;
        }

        p {
            margin-bottom: 18px;
        }

        .info-buttons {
            @include flex($direction: row, $gap: 12px, $wrap: wrap);

            button {
                padding: 10px 30px;
                border-radius: 100px;
                border: none;
                cursor: pointer;
            }

            #primary-btn {
                background-color: $primary-color;
                color: $tertiary-color;
            }

            #secondary-btn {
                background-color: $tertiary-color;
                color: $primary-color;
                box-shadow: -4px 4px 10px rgba(210, 118, 133, 0.3);
            }
        }
    }
}

@media (max-width: 732px) {
    .introduction {
        flex-direction: column;
        margin-top: 28px;

        .logo-container {
            flex: unset;
            width: 35%;
            margin-bottom: 12px;
        }

        .info {
            flex: unset;
            margin-right: 0;
            text-align: center;

            p {
                text-align: justify;
            }

            .info-buttons {
                justify-content: center;
            }
        }
    }
}
