footer {
    @include flex(column, center, center, 12px);
    padding: 20px 0;
    background-color: $primary-color;

    .social-container {
        @include flex($direction: row, $gap: 24px);

        img {
            width: 30px;
        }
    }

    .disclaimer {
        color: $tertiary-color;
    }
}
