@mixin flex($direction: initial, $justify: initial, $align: initial, $gap: 0px, $wrap: initial) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin highlighted-title($size: 28px, $weight: 500) {
    font-size: $size;
    font-weight: $weight;

    .highlight {
        color: $primary-color;
    }
}
