@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap");

$primary-color: #d27685;
$primary-color-light-gray: #fbfbfb;
$secondary-color: #434242;
$tertiary-color: #fff;

$font: "M PLUS Rounded 1c", sans-serif;
